.footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer_email {
    margin-left: 50px;
    display: flex;
    background-color: #ffffff00;
    border: none;
    outline: none;
}
.footer_emailtext {
    padding-left: 10px;
    color: var(--Secondary-Text, #C5C5C5);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.282px;
}
.footer_emailicon1 {
    margin-top: -8px;
}

.footer_link {
    margin-left: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.footerticon {
    width: 20px;
    height: 20px;
    color: white;
}
.footerwhatsappicon {
    width: 20px;
    height: 20px;
}
@media (max-width: 840px) {
    .footer_text {
        font-size: 12px;
    }
    .footer_email {
        margin-left: 20px;
    }
    .footerwhatsappicon {
        margin-left: 17px;
    }
    .footerticon {
        margin-left: 17px;
    }
    .footeryicon {
        margin-left: 17px;
    }
}
@media (max-width: 430px) {
    .footer_text {
        
        display: none;
    }
    .footer_email {
        margin-left: 1px;
    }
    .footer_emailicon1{
        
    }
    .footer_emailtext {
        padding-left: 5px;
        font-size: 14px;
    }
    .footer_link {
        margin-left: 10px;
    }

}